.h1{
    position: absolute;
    left: 200px;
    top: 200px;
    font-style: normal;
    font-size: 170px;
    line-height: 160px;
    font-family: fantasy;
    background: -webkit-linear-gradient(45deg, #92fe9d, #00c9ff);
    -webkit-text-fill-color: transparent;
    letter-spacing: .02em;
    margin: 0 0 0 -6px;
    background-clip: text;
}
.div{
    background-color:rgba(236, 236, 236, 0.583);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
}